body{
    font-family:"Arial",sans-serif;
    margin:0;
    padding:0;
    background-color:#f4f1ee;
    color: #333;
}

header {
    background-color: #8b5e3d;
    color:white;
    text-align:center;
    padding: 14px 10px;
}
.menu{
    color: white;
    text-decoration: underline;
}

.menu a:hover{
    text-decoration: underline;
}

main{
    padding: 20px;
}

.carrusel{
    text-align:Center;
    margin: 0 auto 20px;
}

.carrusel img{
    max-width: 600px;
    widht: 90%;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}

.controles {
    margin-top:  10px;
}

button {
    background-color: #8b5e3d;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: color #a46b43;;
}

.productos {
    display: flex;
    justify-content:space-around;
    margin-top: 20px;
    gap: 10px;   
}
    .producto{
        background:white;
        border-radius:8px;
        padding: 12px;
        text-align:center;
        box-shadow: 0 1px 3px rhba(0,0,0,0,08);
}
input{
    padding: 5px;
    border:1px solid #aaa;
    border-radius: 5px;
    width:100%;
    box-sizing: border-box;
    margin-bottom: 6px;
}

label {
    display:block;
    margin-top: 10px;
    font-weight:600;
}
.error {
    color:red;
    font-size: 0.9em;
    min-height: 18px;
    display: block;
}

#resultado {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

footer {
    background-color: #8b5e3d;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;

}






