body{
    font-family:"Arial",sans-serif;
    margin:0;
    padding:0;
    background-color:#f4f1ee;
    color: #333;
}

header {
    background-color: #8b5e3d;
    color:white;
    text-align:center;
    padding: 14px 10px;
}
.menu{
    color: white;
    text-decoration: none;
    margin-top: 6px;
}

.menu a:hover{
    text-decoration: underline;
}

main{
    padding: 20px;
}

.carrusel img{
    width: 70%;
    border-radius: 10px;
}

.controles {
    margin-top:  10px;
}

button {
    background-color: #8b5e3d;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: color #a46b43;;
}

/* productos */
.productos {
    display: flex;
    justify-content:space-around;
    margin-top: 20px;
    gap: 10px;   
}
input{
    padding: 5px;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.error {
    color:red;
    font-size: 0.9em;
}

#resultado {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

footer {
    background-color: #8b5e3d;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;

}
